*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em  0.125em 0.25em rgba(0,0,0,.15)
    ;

}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;

        
    }
}
  /*General Style */
  
body {
      background: var(--clr-light);
      color: var(--clr-dark);
      margin: 0;
      font-family: var(--ff-primary);
      font-size: var(--fs-body);
      line-height: 1.6;

}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { 
    font-weight: var(--fw-bold);
     
}

/*Typography*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.section__title {
    margin-bottom:0.25em;
}

.section__title--landingpage {
    font-weight: var(--fw-reg);
}

.section__title--landingpage strong {
    display: block;
}


.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--landingpage,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em ;
}

/* Header */

nav{
    display: none;
}

.logo {
    max-width: 100px;
}

.logo2 {
    max-width: 200px;
}


/* Landing Page */

.landingpage{
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--landingpage {
    display: inline-bock;
}


.KL_landingpage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    /*outline: 1px dotted blue;*/
    background-image: url(../img/girl_in_onlineclass.jpg) ;
    /*background-repeat: no-repeat;*/
    background-size: cover;

}

.KL_h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -40px;
    

}

.KL_h1 strong{
    color: #f89737;  
    position: relative;
    top: 15px;
} 


.KL_title1{
    
    font-weight: 200;
    background: gray;
    color: white;
    padding: 3px 15px;
}

.KL_landingpage p{
    color: white;
}

#button{
   padding: 15px 32px;
   color: white;
   background-color: #f89737;
   border-radius: 10px;
   text-decoration: none;
   margin-top: 150px;

}

 #button:hover{
 background-color: #fed8b1;
}






@media (min-width:600px){
    .landingpage {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap:1em ;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--landingpage {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

}

@media only screen and (min-device-width:768px) and  (max-device-width:1024px) and (orientation:portrait){
   
   .KL_landingpage{ 

        background-image: url(../img/kidoncomputer2.png) ;
        background-size: cover;
    }

     .KL_landingpage p{
        display: none; 
    }
}





@media only screen and (max-device-width:576px) and (orientation:portrait){

    .KL_landingpage{
   
        height: 85vh;
        background-image: url(../img/kidoncomputer2.png) ;
        background-size: cover;

    }

    .KL_h1{
        font-size: 1.5rem;
        margin-bottom: 35px;   
    
    }

   .KL_h1 strong{
        position: relative;
        top: 20px;
    }


    .KL_landingpage p{
        display: none; 
    }
}


@media only screen and (max-device-width:576px) and (orientation:landscape){

    .KL_landingpage{
   
        height: 85vh;
    }

    .KL_h1{
        font-size: 1.5rem;
        /*margin-bottom: 5px;   */
    
    }

   .KL_h1 strong{
        position: relative;
        top: 20px;
    }


    .KL_landingpage p{
        display: none; 
    }

    #button{
   
   margin-top: 50px;

}



}

